model/fhir-codegen-xsd-4.3.0/careteam.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Thu, Dec 27, 2018 22:37+1100 for FHIR v4.0.0 

  Note: the schemas &amp; schematrons do not contain all of the rules about what makes resources
  valid. Implementers will still need to be familiar with the content of the specification and with
  any profiles that apply to the resources in order to make a conformant implementation.

--><xs:schema xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://hl7.org/fhir" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="CareTeam" type="CareTeam">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Care Team includes all the people and organizations who plan to participate in the coordination and delivery of care for a patient.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CareTeam">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Care Team includes all the people and organizations who plan to participate in the coordination and delivery of care for a patient.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="identifier" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">Business identifiers assigned to this care team by the performer or other systems which remain constant as the resource is updated and propagates from server to server.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="status" type="CareTeamStatus">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates the current state of the care team.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="category" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identifies what kind of team.  This is to support differentiation between multiple co-existing teams, such as care plan team, episode of care team, longitudinal care team.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="name" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A label for human use intended to distinguish like teams.  E.g. the "red" vs. "green" trauma teams.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="subject" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identifies the patient or group whose intended care is handled by the team.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="encounter" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The Encounter during which this CareTeam was created or to which the creation of this record is tightly associated.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="period" type="Period">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates when the team did (or is intended to) come into effect and end.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="participant" type="CareTeam.Participant">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identifies all people and organizations who are expected to be involved in the care team.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="reasonCode" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Describes why the care team exists.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="reasonReference" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Condition(s) that this care team addresses.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="managingOrganization" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The organization responsible for the care team.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="ContactPoint">
            <xs:annotation>
              <xs:documentation xml:lang="en">A central contact detail for the care team (that applies to all members).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="note" type="Annotation">
            <xs:annotation>
              <xs:documentation xml:lang="en">Comments made about the CareTeam.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CareTeam.Participant">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Care Team includes all the people and organizations who plan to participate in the coordination and delivery of care for a patient.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="role" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates specific responsibility of an individual within the care team, such as "Primary care physician", "Trained social worker counselor", "Caregiver", etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="member" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The specific person or organization who is participating/expected to participate in the care team.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="onBehalfOf" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The organization of the practitioner.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="period" type="Period">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates when the specific member or organization did (or is intended to) come into effect and end.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CareTeamStatus-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="proposed">
        <xs:annotation>
          <xs:documentation xml:lang="en">Proposed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="active">
        <xs:annotation>
          <xs:documentation xml:lang="en">Active</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="suspended">
        <xs:annotation>
          <xs:documentation xml:lang="en">Suspended</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inactive">
        <xs:annotation>
          <xs:documentation xml:lang="en">Inactive</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="entered-in-error">
        <xs:annotation>
          <xs:documentation xml:lang="en">Entered in Error</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CareTeamStatus">
    <xs:annotation>
      <xs:documentation xml:lang="en">Indicates the status of the care team.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="CareTeamStatus-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
