model/fhir-codegen-xsd-4.3.0/condition.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Thu, Dec 27, 2018 22:37+1100 for FHIR v4.0.0 

  Note: the schemas &amp; schematrons do not contain all of the rules about what makes resources
  valid. Implementers will still need to be familiar with the content of the specification and with
  any profiles that apply to the resources in order to make a conformant implementation.

--><xs:schema xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://hl7.org/fhir" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="Condition" type="Condition">
    <xs:annotation>
      <xs:documentation xml:lang="en">A clinical condition, problem, diagnosis, or other event, situation, issue, or clinical concept that has risen to a level of concern.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Condition">
    <xs:annotation>
      <xs:documentation xml:lang="en">A clinical condition, problem, diagnosis, or other event, situation, issue, or clinical concept that has risen to a level of concern.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="identifier" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">Business identifiers assigned to this condition by the performer or other systems which remain constant as the resource is updated and propagates from server to server.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="clinicalStatus" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The clinical status of the condition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="verificationStatus" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The verification status to support the clinical status of the condition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="category" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">A category assigned to the condition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="severity" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">A subjective assessment of the severity of the condition as evaluated by the clinician.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="code" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identification of the condition, problem or diagnosis.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="bodySite" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The anatomical location where this condition manifests itself.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="subject" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates the patient or group who the condition record is associated with.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="encounter" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The Encounter during which this Condition was created or to which the creation of this record is tightly associated.</xs:documentation>
           </xs:annotation>
          </xs:element>
                      <xs:element minOccurs="0" name="onsetDateTime" type="dateTime">
              <xs:annotation>
                <xs:documentation xml:lang="en">Estimated or actual date or date-time  the condition began, in the opinion of the clinician. (choose any one of onset*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="onsetAge" type="Age">
              <xs:annotation>
                <xs:documentation xml:lang="en">Estimated or actual date or date-time  the condition began, in the opinion of the clinician. (choose any one of onset*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="onsetPeriod" type="Period">
              <xs:annotation>
                <xs:documentation xml:lang="en">Estimated or actual date or date-time  the condition began, in the opinion of the clinician. (choose any one of onset*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="onsetRange" type="Range">
              <xs:annotation>
                <xs:documentation xml:lang="en">Estimated or actual date or date-time  the condition began, in the opinion of the clinician. (choose any one of onset*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="onsetString" type="string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Estimated or actual date or date-time  the condition began, in the opinion of the clinician. (choose any one of onset*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
                      <xs:element minOccurs="0" name="abatementDateTime" type="dateTime">
              <xs:annotation>
                <xs:documentation xml:lang="en">The date or estimated date that the condition resolved or went into remission. This is called "abatement" because of the many overloaded connotations associated with "remission" or "resolution" - Conditions are never really resolved, but they can abate. (choose any one of abatement*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="abatementAge" type="Age">
              <xs:annotation>
                <xs:documentation xml:lang="en">The date or estimated date that the condition resolved or went into remission. This is called "abatement" because of the many overloaded connotations associated with "remission" or "resolution" - Conditions are never really resolved, but they can abate. (choose any one of abatement*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="abatementPeriod" type="Period">
              <xs:annotation>
                <xs:documentation xml:lang="en">The date or estimated date that the condition resolved or went into remission. This is called "abatement" because of the many overloaded connotations associated with "remission" or "resolution" - Conditions are never really resolved, but they can abate. (choose any one of abatement*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="abatementRange" type="Range">
              <xs:annotation>
                <xs:documentation xml:lang="en">The date or estimated date that the condition resolved or went into remission. This is called "abatement" because of the many overloaded connotations associated with "remission" or "resolution" - Conditions are never really resolved, but they can abate. (choose any one of abatement*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="abatementString" type="string">
              <xs:annotation>
                <xs:documentation xml:lang="en">The date or estimated date that the condition resolved or went into remission. This is called "abatement" because of the many overloaded connotations associated with "remission" or "resolution" - Conditions are never really resolved, but they can abate. (choose any one of abatement*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="recordedDate" type="dateTime">
            <xs:annotation>
              <xs:documentation xml:lang="en">The recordedDate represents when this particular Condition record was created in the system, which is often a system-generated date.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="recorder" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Individual who recorded the record and takes responsibility for its content.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="asserter" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Individual who is making the condition statement.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="stage" type="Condition.Stage">
            <xs:annotation>
              <xs:documentation xml:lang="en">Clinical stage or grade of a condition. May include formal severity assessments.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="evidence" type="Condition.Evidence">
            <xs:annotation>
              <xs:documentation xml:lang="en">Supporting evidence / manifestations that are the basis of the Condition's verification status, such as evidence that confirmed or refuted the condition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="note" type="Annotation">
            <xs:annotation>
              <xs:documentation xml:lang="en">Additional information about the Condition. This is a general notes/comments entry  for description of the Condition, its diagnosis and prognosis.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Condition.Stage">
    <xs:annotation>
      <xs:documentation xml:lang="en">A clinical condition, problem, diagnosis, or other event, situation, issue, or clinical concept that has risen to a level of concern.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="summary" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">A simple summary of the stage such as "Stage 3". The determination of the stage is disease-specific.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="assessment" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Reference to a formal record of the evidence on which the staging assessment is based.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="type" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The kind of staging, such as pathological or clinical staging.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Condition.Evidence">
    <xs:annotation>
      <xs:documentation xml:lang="en">A clinical condition, problem, diagnosis, or other event, situation, issue, or clinical concept that has risen to a level of concern.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="code" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">A manifestation or symptom that led to the recording of this condition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="detail" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Links to other relevant information, including pathology reports.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
