model/fhir-codegen-xsd-4.3.0/familymemberhistory.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Thu, Dec 27, 2018 22:37+1100 for FHIR v4.0.0 

  Note: the schemas &amp; schematrons do not contain all of the rules about what makes resources
  valid. Implementers will still need to be familiar with the content of the specification and with
  any profiles that apply to the resources in order to make a conformant implementation.

--><xs:schema xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://hl7.org/fhir" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="FamilyMemberHistory" type="FamilyMemberHistory">
    <xs:annotation>
      <xs:documentation xml:lang="en">Significant health conditions for a person related to the patient relevant in the context of care for the patient.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FamilyMemberHistory">
    <xs:annotation>
      <xs:documentation xml:lang="en">Significant health conditions for a person related to the patient relevant in the context of care for the patient.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="identifier" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">Business identifiers assigned to this family member history by the performer or other systems which remain constant as the resource is updated and propagates from server to server.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="instantiatesCanonical" type="canonical">
            <xs:annotation>
              <xs:documentation xml:lang="en">The URL pointing to a FHIR-defined protocol, guideline, orderset or other definition that is adhered to in whole or in part by this FamilyMemberHistory.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="instantiatesUri" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">The URL pointing to an externally maintained protocol, guideline, orderset or other definition that is adhered to in whole or in part by this FamilyMemberHistory.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="status" type="FamilyHistoryStatus">
            <xs:annotation>
              <xs:documentation xml:lang="en">A code specifying the status of the record of the family history of a specific family member.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="dataAbsentReason" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Describes why the family member's history is not available.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="patient" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The person who this history concerns.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="date" type="dateTime">
            <xs:annotation>
              <xs:documentation xml:lang="en">The date (and possibly time) when the family member history was recorded or last updated.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="name" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">This will either be a name or a description; e.g. "Aunt Susan", "my cousin with the red hair".</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="relationship" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The type of relationship this person has to the patient (father, mother, brother etc.).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="sex" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The birth sex of the family member.</xs:documentation>
           </xs:annotation>
          </xs:element>
                      <xs:element minOccurs="0" name="bornPeriod" type="Period">
              <xs:annotation>
                <xs:documentation xml:lang="en">The actual or approximate date of birth of the relative. (choose any one of born*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="bornDate" type="date">
              <xs:annotation>
                <xs:documentation xml:lang="en">The actual or approximate date of birth of the relative. (choose any one of born*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="bornString" type="string">
              <xs:annotation>
                <xs:documentation xml:lang="en">The actual or approximate date of birth of the relative. (choose any one of born*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
                      <xs:element minOccurs="0" name="ageAge" type="Age">
              <xs:annotation>
                <xs:documentation xml:lang="en">The age of the relative at the time the family member history is recorded. (choose any one of age*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="ageRange" type="Range">
              <xs:annotation>
                <xs:documentation xml:lang="en">The age of the relative at the time the family member history is recorded. (choose any one of age*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="ageString" type="string">
              <xs:annotation>
                <xs:documentation xml:lang="en">The age of the relative at the time the family member history is recorded. (choose any one of age*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="estimatedAge" type="boolean">
            <xs:annotation>
              <xs:documentation xml:lang="en">If true, indicates that the age value specified is an estimated value.</xs:documentation>
           </xs:annotation>
          </xs:element>
                      <xs:element minOccurs="0" name="deceasedBoolean" type="boolean">
              <xs:annotation>
                <xs:documentation xml:lang="en">Deceased flag or the actual or approximate age of the relative at the time of death for the family member history record. (choose any one of deceased*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="deceasedAge" type="Age">
              <xs:annotation>
                <xs:documentation xml:lang="en">Deceased flag or the actual or approximate age of the relative at the time of death for the family member history record. (choose any one of deceased*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="deceasedRange" type="Range">
              <xs:annotation>
                <xs:documentation xml:lang="en">Deceased flag or the actual or approximate age of the relative at the time of death for the family member history record. (choose any one of deceased*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="deceasedDate" type="date">
              <xs:annotation>
                <xs:documentation xml:lang="en">Deceased flag or the actual or approximate age of the relative at the time of death for the family member history record. (choose any one of deceased*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="deceasedString" type="string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Deceased flag or the actual or approximate age of the relative at the time of death for the family member history record. (choose any one of deceased*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="reasonCode" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Describes why the family member history occurred in coded or textual form.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="reasonReference" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates a Condition, Observation, AllergyIntolerance, or QuestionnaireResponse that justifies this family member history event.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="note" type="Annotation">
            <xs:annotation>
              <xs:documentation xml:lang="en">This property allows a non condition-specific note to the made about the related person. Ideally, the note would be in the condition property, but this is not always possible.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="condition" type="FamilyMemberHistory.Condition">
            <xs:annotation>
              <xs:documentation xml:lang="en">The significant Conditions (or condition) that the family member had. This is a repeating section to allow a system to represent more than one condition per resource, though there is nothing stopping multiple resources - one per condition.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FamilyMemberHistory.Condition">
    <xs:annotation>
      <xs:documentation xml:lang="en">Significant health conditions for a person related to the patient relevant in the context of care for the patient.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="code" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The actual condition specified. Could be a coded condition (like MI or Diabetes) or a less specific string like 'cancer' depending on how much is known about the condition and the capabilities of the creating system.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="outcome" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates what happened following the condition.  If the condition resulted in death, deceased date is captured on the relation.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="contributedToDeath" type="boolean">
            <xs:annotation>
              <xs:documentation xml:lang="en">This condition contributed to the cause of death of the related person. If contributedToDeath is not populated, then it is unknown.</xs:documentation>
           </xs:annotation>
          </xs:element>
                      <xs:element minOccurs="0" name="onsetAge" type="Age">
              <xs:annotation>
                <xs:documentation xml:lang="en">Either the age of onset, range of approximate age or descriptive string can be recorded.  For conditions with multiple occurrences, this describes the first known occurrence. (choose any one of onset*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="onsetRange" type="Range">
              <xs:annotation>
                <xs:documentation xml:lang="en">Either the age of onset, range of approximate age or descriptive string can be recorded.  For conditions with multiple occurrences, this describes the first known occurrence. (choose any one of onset*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="onsetPeriod" type="Period">
              <xs:annotation>
                <xs:documentation xml:lang="en">Either the age of onset, range of approximate age or descriptive string can be recorded.  For conditions with multiple occurrences, this describes the first known occurrence. (choose any one of onset*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element minOccurs="0" name="onsetString" type="string">
              <xs:annotation>
                <xs:documentation xml:lang="en">Either the age of onset, range of approximate age or descriptive string can be recorded.  For conditions with multiple occurrences, this describes the first known occurrence. (choose any one of onset*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="note" type="Annotation">
            <xs:annotation>
              <xs:documentation xml:lang="en">An area where general notes can be placed about this specific condition.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="FamilyHistoryStatus-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="partial">
        <xs:annotation>
          <xs:documentation xml:lang="en">Partial</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="completed">
        <xs:annotation>
          <xs:documentation xml:lang="en">Completed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="entered-in-error">
        <xs:annotation>
          <xs:documentation xml:lang="en">Entered in Error</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="health-unknown">
        <xs:annotation>
          <xs:documentation xml:lang="en">Health Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FamilyHistoryStatus">
    <xs:annotation>
      <xs:documentation xml:lang="en">A code that identifies the status of the family history record.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="FamilyHistoryStatus-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
